*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #F39F5A;

}
.menu{
    list-style: none;
    background-color: #541437;
    width: 33%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    position: fixed;/*Hace que el menu se quede pegado. */
    top: 0; /*En la parte de arriba.*/
    left: 0; /* Establece el margen izquierdo en 0 para centrar el menú */
    right: 0;
    z-index: 1;
    border-radius: 30px;/* borde redondeado */
    box-shadow: 0 0 30px rgb(255, 255, 255);
}
.menu li a{
    text-decoration: none;
    color: rgb(251, 252, 252);
    padding: 15px 15px;
    display: block;
    
}

.menu li{
    display: inline-block;
    margin: 0 5px;
}
.menu li a:hover{
    background-color: coral;/*Cambia de color por el mouse*/
    color: rgb(255, 255, 255);
    border-radius: 30px;

}

.titulo{
    text-align: center;
    margin-top: 90px;
}
.titulo1{
    text-align: center;
    color: antiquewhite;
    font-size: 24px;
}
.titulo h3{
    font-size: 24px;
    color: antiquewhite;
}

.carrusel{
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
    height: 450px;
    overflow: hidden;
}
.carrusel img{
    width: 50%;
    height: 60%;
    max-height: 100%;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.carrusel button{
    margin-top: 10px;
}

footer{
    text-decoration: none; 
    color: aliceblue;
    font-size: 20px;
    margin-top: 60px;
    font-weight: bold;
    height: 100px;
    border-top: 2px solid;
    border-color: black;
    margin-bottom: 20px;
}
